<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="./src/assets/img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Dimsum | FAMILY MART</title>
    <link rel="stylesheet" href="../../styles/productStyle.css" />
  </head>
  <body>
    <header class="header">
      <div class="container header__inner">
        <div class="header__inner-logo">
          <a href="/">
            <img
              src="../../assets/img/logo.png"
              alt="FamilyMart Logo"
              width="130"
              height="40"
            />
          </a>
        </div>
        <ul class="header__inner-menu">
          <li class="header__inner-menu-item">
            <a href="../Login.html">
              <i class="bx bx-search btn" id="search"></i>
            </a>
          </li>
          <li class="header__inner-menu-item">
            <a href="/">Trang chủ</a>
          </li>
          <li class="header__inner-menu-item">
            <a href="/about">Về Family Mart</a>
          </li>
          <li class="header__inner-menu-item">
            <a href="/news">Tin Tức</a>
          </li>
          <li class="header__inner-menu-item">
            <a href="/products">Sản phẩm</a>
          </li>
          <li class="header__inner-menu-item">
            <a href="/sale">Khuyến mãi</a>
          </li>
          <li class="header__inner-menu-item">
            <a href="/stores">Cửa hàng</a>
          </li>
          <li class="header__inner-menu-item">
            <a href="/contact">Liên hệ</a>
          </li>
          <li class="header__inner-menu-item">
            <a href="../Login.html"
              ><i class="bx bx-user bx-flip-horizontal btn"></i
            ></a>
          </li>
          <li class="header__inner-menu-item">
            <a href="../Cart.html"><i class="bx bx-cart btn"></i></a>
          </li>
        </ul>
      </div>
      <div class="header__separation"></div>
    </header>

    <main>
      <section class="container product">
        <div class="product-image">
          <img src="../../assets/img/sp4.jpg" alt="" width="500" height="500" />
        </div>
        <div class="product-description">
          <span class="product-description-category">Fast Food / Đồ hấp</span>
          <h1 class="product-description-heading">Dimsum</h1>
          <div class="separation"></div>
          <span class="product-description-cost">20.990 ₫</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            minima asperiores nihil laudantium fugit obcaecati ab reiciendis
            facilis amet odio voluptatum odit optio id sed natus dolores eum,
            tempore est?
          </p>
          <button class="button">Mua ngay</button>
        </div>
      </section>
    </main>

    <footer class="footer">
      <h1 class="footer__heading">
        Công Ty TNHH Cửa Hàng Tiện Lợi Gia Đình Việt Nam
      </h1>
      <div class="footer__content">
        <p>
          Giấy CNĐKDN: 0312283473 – Ngày cấp: 17/5/2013, được sửa đổi lần thứ 53
          ngày 21/12/2022.
          <br />
          Cơ quan cấp: Phòng Đăng ký kinh doanh – Sở kế hoạch và Đầu tư TP.HCM
          <br />
          Địa chỉ đăng ký kinh doanh: Tầng 8, Tòa nhà An Khánh, số 63 Phạm Ngọc
          Thạch, Phường Võ Thị Sáu, Quận 3, Tp. Hồ Chí Minh, Việt Nam.
          <br />
          Điện thoại (Văn phòng): (028) 39305180
          <br />
          Hotline tuyển dụng: 0797487866 Email: info@famima.vn
        </p>
      </div>
    </footer>
    <script src="./src/utils/RenderProductsList.js"></script>
  </body>
</html>
