$clr-bg: #fff;
$clr-second: #e2828e;
$clr-gray: #e5e5e5;
$clr-text: #47ae34;
$clr-text-contrast: #000;
$clr-btn-bg: #fa320f;
$box-shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
  rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
